body {
    background-color: #87CEFA;
}
h1 {
    color:#800000;
    font-weight:800;
    font-family:BRUSH SCRIPT MT;
}
div img {
    float:right;
}
h3 {
    background-color: #E0FFFF;
}
a {
    color:#800000;
    text-decoration:none;
}