body {
    background-color:#87CEFA;
}
h1 {
    background-color:#E0FFFF;
    color:#800000;
}
a {
    color:#800000;
    text-decoration:none;
    font-weight:900;
}
p {
    word-spacing:50px;
}
p {
    font-weight:900;
}